!!!
%html{lang: "en"}
  %head
    %title
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %link{href: "css/reset.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/style.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/zerogrid.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %script{src: "js/jquery-1.6.3.min.js", type: "text/javascript"}
    %script{src: "js/cufon-yui.js", type: "text/javascript"}
    %script{src: "js/cufon-replace.js", type: "text/javascript"}
    %script{src: "js/Kozuka_Gothic_Pro_OpenType_300.font.js", type: "text/javascript"}
    %script{src: "js/Kozuka_Gothic_Pro_OpenType_500.font.js", type: "text/javascript"}
    %script{src: "js/FF-cash.js", type: "text/javascript"}
    %script{src: "js/jcarousellite_1.0.1.js", type: "text/javascript"}
    %script{src: "js/jquery.easing.1.3.js", type: "text/javascript"}
    %script{src: "js/jquery.equalheights.js", type: "text/javascript"}
    %script{src: "js/css3-mediaqueries.js", type: "text/javascript"}
    :javascript
      $(document).ready(function() { 
        $('.carousel .jCarouselLite').jCarouselLite({ 
                btnNext: '.carousel .next',
                btnPrev: '.carousel .prev',
                speed: 600,
                easing: 'easeOutQuart',
                vertical: false,
                circular: false,
                visible: 4,
                start: 0,
                scroll: 1
        }); 
      });
    /[if lt IE 8]
      <div style=' clear: both; text-align:center; position: relative;'>
      <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
      <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
      </a>
      </div>
    /[if lt IE 9]
      <script type="text/javascript" src="js/html5.js"></script>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  %body#page5
    / ==============================header=================================
    %header
      .menu-row
        .main.zerogrid
          %nav.wrapper
            %ul.menu
              %li
                %a{href: "index.html"} Home
              %li
                %a{href: "about.html"} About us
              %li
                %a{href: "services.html"} Services
              %li
                %a.active{href: "pricelist.html"} Pricelist
              %li
                %a{href: "contacts.html"} Contacts
      .row-bot
        .row-bot-bg
          .main.zerogrid
            .wrapper
              %h1
                %a{href: "index.html"}
                  %img{src: "images/logo.png"}/
              %h2 Decorate Your Life With Us!
    / ==============================aside================================
    %aside
      .carousel
        %a.prev
        %a.next
        .carousel-container
          %h3 Popular Design Projects
          .jCarouselLite
            %ul.carousel-list
              %li
                .img-border
                  %a{href: "#"}
                    %img{alt: "", src: "images/page1-img2.jpg"}/
              %li
                .img-border
                  %a{href: "#"}
                    %img{alt: "", src: "images/page1-img3.jpg"}/
              %li
                .img-border
                  %a{href: "#"}
                    %img{alt: "", src: "images/page1-img4.jpg"}/
              %li
                .img-border
                  %a{href: "#"}
                    %img{alt: "", src: "images/page1-img5.jpg"}/
              %li
                .img-border
                  %a{href: "#"}
                    %img{alt: "", src: "images/page1-img6.jpg"}/
              %li
                .img-border
                  %a{href: "#"}
                    %img{alt: "", src: "images/page1-img7.jpg"}/
              %li
                .img-border
                  %a{href: "#"}
                    %img{alt: "", src: "images/page1-img8.jpg"}/
              %li
                .img-border
                  %a{href: "#"}
                    %img{alt: "", src: "images/page1-img9.jpg"}/
    / ==============================content================================
    %section#content
      .main
        .zerogrid
          .wrapper
            %article.col-1-3
              .wrap-col
                %h3.p1 Our Prices
                %ul.list-1
                  %li
                    %a{href: "#"} Ut wisi enim ad minim veniam
                  %li
                    %a{href: "#"} Quis nostrud exerci tation ullamcorper
                  %li
                    %a{href: "#"} Suscipit lobortis nisl ut aliquip ex ea
                  %li
                    %a{href: "#"} Duis autem vel eum iriure dolor in hendrerit
                  %li
                    %a{href: "#"} Vulputate velit esse molestie
                  %li
                    %a{href: "#"} Consequat vel illum dolore feugiat
                  %li
                    %a{href: "#"} Nulla facilisis at vero eros et accumsan
                  %li
                    %a{href: "#"} Iusto odio dignissim qui blandit
                  %li
                    %a{href: "#"} Praesent luptatum zzril delenit augue
                  %li
                    %a{href: "#"} Duis dolore te feugait nulla facilisi
                  %li
                    %a{href: "#"} Ut wisi enim ad minim veniam
                  %li
                    %a{href: "#"} Quis nostrud exerci tation ullamcorper
            %article.col-2-3
              .wrap-col
                .indent-left
                  .wrapper.border-bot.p2
                    %strong.text-2.fleft
                      Remodeling industry veteran with years
                      %strong of design and installation experience
                    .indent-top.fright
                      %a.button{href: "#"}
                        %span details
                  %h3.p1 What We Offer
                  %p.img-indent-bot
                    %strong Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
                    Eirmod tempor invid unt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  .wrapper
                    .col-1-2
                      .wrap-col
                        %ul.list-1
                          %li
                            %a{href: "#"} Stet clita kasd gubergren no sea
                          %li
                            %a{href: "#"} Takimata sanctus est lorem ipsum dolor
                          %li
                            %a{href: "#"} Lorem ipsum dolor sit amet consetetur
                          %li
                            %a{href: "#"} Sadipscing elitr, sed diam nonumy eirmod
                          %li
                            %a{href: "#"} Tempor invidunt ut labore et dolore
                    .col-1-2
                      .wrap-col
                        %ul.list-1
                          %li
                            %a{href: "#"} Aliquyam erat, sed diam voluptua
                          %li
                            %a{href: "#"} Vero eos et accusam et justo duo dolores
                          %li
                            %a{href: "#"} Stet clita kasd gubergren sea takimata
                          %li
                            %a{href: "#"} Sanctus est Lorem ipsum dolor
                          %li
                            %a{href: "#"} Lorem ipsum dolor sit amet consetetur
    / ==============================footer=================================
    %footer
      .main.zerogrid
        .aligncenter
          %p.p0 Exterior Design © 2013
          %a{href: "http://www.zerotheme.com", target: "_blank"} Free Html5 Templates
          by TemplateMonster.com | Zerotheme.com
    :javascript
      Cufon.now();